h1{
    margin-bottom: 25px !important;
    margin-top: 25px !important;
}

.container{
    margin-bottom: 50px !important;
}

.headlogo{
    /* transform: scale(0.75); */
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    /* align-content: center; */
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 1024px){
    .headlogo{
        width: auto;
    }
}
