h1{
    margin-bottom: 25px !important;
    margin-top: 25px !important;
}

.container{
    margin-bottom: 50px !important;
}

.headlogo{
    /* transform: scale(0.75); */
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* align-content: center; */
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (min-width: 480px) and (max-width:1024px) {
    .headlogo{
        width: 75%;
    }
}
