<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Manifest link for PWA -->
        <link rel="manifest" href="../manifest.json">
        <!-- CSS linker -->
        <link rel="stylesheet" href="static/css/app.css">
        <link rel="icon" href="static/assets/favicon.png">
        <title>SmallMedium</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="toast-container" aria-live="polite" aria-atomic="true">
                    <div class="toast" data-autohide="false">
                        <div class="toast-body">
                            {{ message }}
                            <button type="button" class="ml-2 mb-1 close" style="color: white" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <img class="headlogo" src="static/assets/logo.png" alt="" onclick="window.location.href='/'">
        <div class="container">
            <!-- <h1 class="text-center">SmallMedium</h1> -->
            <form id="form" class="was-validated">
                <div class="form-group">
                    <label class="form-control-label">Enter URL of Medium article:</label>
                    <input pattern="(https)://[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:/~+#-]*[\w@?^=%&amp;/~+#-])?" type="text" class="form-control" placeholder="URL" id="url" required>
                    <div class="valid-feedback">Valid URL</div>
                    <div class="invalid-feedback">Should be a valid HTTPS URL</div>
                </div>
                <div class="form-group">
                    <button id="submit" type="submit" class="btn btn-primary">Submit!</button>
                </div>
            </form>
        </div>
        <div class="footer-box">
            <div class="inner-footer-box">
                <span>
                <b>Made with
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="color:red" width="18">
                    <path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                    </path>
                </svg>  by <a href="https://www.github.com/KaustubhDamania">Kaustubh Damania</b>
                </span>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- JS linker -->
        <script src="static/js/app.js" charset="utf-8"></script>
    </body>
</html>
